#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if IEEE802154_DW1000

config DW1000_USE_PA
  bool "Is PA and LNA used"
  default n
  ---help---
		This enables support for external PA and LNA

endif # IEEE802154_DW1000
